<h2>Add meal</h2>
<form *ngIf="addMealForm" [formGroup]="addMealForm" novalidate class="add-meal-form" (ngSubmit)="addMeal()">
    <mat-form-field appearance="outline">
        <mat-label>Diet</mat-label>
        <input matInput placeholder="Select diet name" formControlName="diet" />
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Dinner" formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Kcal</mat-label>
        <input matInput placeholder="kcal" formControlName="kcal" type="number" />
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Choose a date</mat-label>
        <input matInput [ngxMatDatetimePicker]="datepicker" formControlName="date" />
        <mat-datepicker-toggle matSuffix [for]="$any(datepicker)"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #datepicker>
        </ngx-mat-datetime-picker>
    </mat-form-field>

    <button mat-flat-button color="primary">Submit</button>
</form>