@import "../../../theme/mixins.scss";

.forms-container {
    display: flex;
    justify-content: center;
    padding: 32px;
    min-width: 80%;
    border-radius: 5px;

    @include for-tablet-landscape-up {
        min-height: 450px;
        min-width: 400px;
    }
}

.mat-tab-group {
    width: 100%;
}