<form
    class="login-form"
    [formGroup]="loginForm"
    (ngSubmit)="handleLoginClicked()"
>
    <div class="inputs">
        <sand-custom-input [type]="'email'" formControlName="email">
            Email
        </sand-custom-input>
        <sand-custom-input [type]="'password'" formControlName="password">
            Password
        </sand-custom-input>
    </div>

    <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="!loginForm?.valid"
    >
        Login
    </button>
</form>
