<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>
<div class="main-container">
    <router-outlet></router-outlet>
    <a class="add-button" mat-fab color="primary" [matMenuTriggerFor]="menu">
        <mat-icon>add</mat-icon>
    </a>
    <mat-menu #menu="matMenu">
        <a mat-menu-item routerLink="/meals/add">
          <span>Meal</span>
        </a>
        <a mat-menu-item routerLink="/meals/add/diet">
          <span>Diet</span>
        </a>
      </mat-menu>
</div>